<div class="d-flex align-items-center justify-content-center">
    <h1>Synapps</h1>

</div>
<div class="d-flex align-items-center justify-content-center">
    <h2>Get your daily music shot</h2>

</div>
