<div class="d-flex align-items-center justify-content-center">
    <h1>Synapps</h1>

</div>
<div class="align-items-center justify-content-center">
    <% if @user %>
        <h2><%= "Hello " + @user.nickname + " 😳" %></h2>
        <% end %> 
    
</div>
